@import "variable.less";
@import "mixin.less";
@charset "UTF-8";
/* 共通 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-family: @font-family-default;
  height: 100%;
  font-size: 18px;
  line-height: 1.8;
  color: #292929;
  letter-spacing: 1px;
}
a {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  text-decoration: none;
  color: #292929;
  &:hover {
    color: @brand-primary;
    img {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
      filter: alpha(opacity=70);
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      opacity: 0.7;
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  font-weight: 700;
  // font-family: @font-family-heading;
}
p {
  word-break: break-all;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
#wrap {
  overflow: hidden;
}

.clearfix {zoom:1;}
.clearfix:after{
  content: ""; 
  display: block; 
  clear: both;
}
.center {
  text-align: center;
}
.container {
  width: 1024px;
  margin: 0 auto;
  @media (max-width: @screen-sp) {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*Top Banner*/
.top-banner {
  overflow: hidden;
  > img {
    @media (min-width: @screen-pc) {
      max-width: inherit;
      position: relative;
      left: 50%;
      .translate(-50%,0);
    }
  }
}
.main-navigation {
    ul {
      background: #fff;
      text-align: center;
      padding: 8px 0;
      border-bottom: 1px solid @border-color-base;
      border-top: 1px solid @border-color-base;
      li {
      display: inline-block;
      vertical-align: top;
      padding: 0 15px;
      a {
        font-size: 16/18em;
        font-weight: bold;
        display: block;
        line-height: 73px;
      }
      &.nav-btn {
        a {
          width: 214px;
          height: 73px;
          text-indent: -999em;
          background: url("./assets/images/nav_button.png") no-repeat;
          &:hover {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
            filter: alpha(opacity=70);
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

/*Section-1*/
.section-1 {
  padding: 90px 0;
  @media (max-width: @screen-sp) {
    padding: 40px 0;
  }
  h2 {
    font-size: 48/18em;
    color: @brand-primary;
    margin-bottom: 1em;
    @media (max-width: @screen-sp) {
      font-size: 30/18em;
    }
  }
  .img {
    @media (min-width: @screen-pc) {
      float: left;
      margin-right: 50px;
    }
    @media (max-width: @screen-sp) {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  h3 {
    font-size: 30/18em;
    color: @brand-primary;
    margin-bottom: 0.3em;
    @media (max-width: @screen-sp) {
      font-size: 24/18em;
    }
    small {
      font-size: 12/30em;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
       @media (max-width: @screen-sp) {
        font-size: 0.5em;
      }
    }
  }
}

/*Section 2*/
.section-2 {
  padding: 55px 0 0;
  @media (min-width: @screen-pc) {
    background: url("./assets/images/background/sec2_bg.jpg") top center no-repeat;
  }
  @media (max-width: @screen-sp) {
    padding: 0 0 20px;
    background: url("./assets/images/background/sec2_bg_sp.jpg") top center no-repeat;
    .cover();
  }
  h2 {
    margin-bottom: 50px;
  }
  .img {
    @media (min-width: @screen-pc) {
      float: right;
      width: 324px;
      padding-top: 55px;
      img {
        max-width: inherit;
        margin-left: -105px;
        position: relative;
      }
    }
    @media (max-width: @screen-sp) {
      text-align: center;
      img {
        max-width: 70%;
      }
    }
  }
  .txt {
    @media (min-width: @screen-pc) {
      width: 700px;
      background: url("./assets/images/background/sec2_text_bg.png") 0 0 no-repeat;
      float: left;
    }
    li {
      clear: both;
      padding-left: 35px;
      padding-right: 35px;
      line-height: 1.3;
      text-align: center;
      font-size: 31/18em;
      font-weight: bold;
      b {
        padding: 2px;
        color: #05344f;
        background: #d7dee3;
      }
      @media (max-width: @screen-sp) {
        text-align: left;
        padding: 0;
        margin-bottom: 20px;
        font-size: 24/18em;
        padding: 10px;
        background: #fdfdfd;
        .border-radius(5px);
        br {
          display: none;
        }
      }
      @media (min-width: @screen-pc) {
        &:nth-child(1) {
          width: 449px;
          float: left;
          padding-top: 40px;
        }
        &:nth-child(2) {
          float: right;
          width: 424px;
          padding-top: 50px;
        }
        &:nth-child(3) {
          width: 385px;
          float: left;
          margin-left: 26px;
          padding-top: 10px;
        }
        &:nth-child(4) {
          float: right;
          width: 469px;
          padding-top: 40px;
          text-align: left;
          padding-bottom: 40px;
        }
      }
    }
  }
}


/*Section 3*/
.section-3 {
  padding: 40px 0 80px;
  background: url("./assets/images/background/sec3_bg_01.jpg") top center no-repeat;
  .cover();
  @media (max-width: @screen-sp) {
    padding: 10px 0 40px;
  }
  h2 {
    text-align: center;
    // font-size: 55px;
    // margin-bottom: 15px;
    // text-shadow: 0 0 30px #fff;
    // color: @brand-primary;
    @media (max-width: @screen-sp) {
      img {
        max-height: 90px;
      }
    }
  }
  .sub-title {
    margin-bottom: 15px;
    // text-align: center;
    // font-size: 40/18em;
    // span {
    //   color: @brand-primary;
    //   font-size: 56/40em;
    //   position: relative;
    //   display: inline-block;
    //   small {
    //     position: absolute;
    //     bottom: 100%;
    //     font-size: 13px;
    //     width: 100%;
    //     text-align: center;
    //     left: 0;
    //   }
    // }
    // b {
    //   font-size: 74/40em;
    //   color: @brand-primary;
    // }
  }
  .box-wrap {
    padding: 50px 56px;
    background: url("./assets/images/background/pattern_01.jpg") 0 0 repeat;
    @media (max-width: @screen-sp) {
      padding: 15px;
    }
  }
  .box-01 {
    @media (min-width: @screen-pc) {
      padding: 60px 50px;
      background: url("./assets/images/background/sec3_bg_02.jpg") top center no-repeat;
      height: 972px; 
    }
  }
  .item {
    margin-bottom: 50px;
    @media (max-width: @screen-sp) {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .img {
      @media (min-width: @screen-pc) {
        float: left;
        width: 307px;
      }
      @media (max-width: @screen-sp) {
        text-align: center;
      }
    }
    .txt {
      @media (min-width: @screen-pc) {
        float: left;
        width: 505px;
        padding-left: 25px;
      }
      h4 {
        @media (min-width: @screen-pc) {
          margin-top: -10px;
        }
      }
    }
    &:nth-child(even) {
      @media (min-width: @screen-pc) {
        .img {
          float: right;
        }
        .txt {
          float: left;
          padding-left: 0;
          padding-right: 25px;
        }
      }
    }
  }
  .box-02 {
    margin-top: 50px;
    @media (max-width: @screen-sp) {
      margin-top: 30px;
    }
    h3 {
      font-size: 48/18em;
      color: @brand-primary;
      text-align: center;
      margin-bottom: 0.4em;
      @media (max-width: @screen-sp) {
        font-size: 30/18em;
      }
    }
    ul {
      li {
        text-align: center;
        @media (min-width: @screen-pc) {
          float: left;
          width: 284px;
          margin-left: 30px;
          &:nth-child(3n+1) {
            clear: both;
            margin-left: 0;
          }
        }
        @media (max-width: @screen-sp) {
          margin-bottom: 20px;
        }
        h4 {
          font-size: 0.95em;
          letter-spacing: 0;
          margin-top: 1em;
        }
      }
    }
  }
}




/*Section 4*/
.section-4 {
  @media (min-width: @screen-pc) {
    background: url("./assets/images/background/sec4_bg.jpg") top center no-repeat;
    padding-top: 50px;
    padding-bottom: 180px;
  }
  @media (max-width: @screen-sp) {
    background: url("./assets/images/background/sec4_bg_sp.jpg") top center no-repeat;
    padding: 10px 0 40px;
    background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -ms-background-size: 100% auto;
  }
  h2 {
    text-align: center;
    margin-bottom: 152px;
    @media (max-width: @screen-sp) {
      margin-bottom: 40px;
    }
  }
  ul {
    li {
      float: left;
      margin: 0 10px;
      @media (max-width: @screen-sp) {
        margin: 10px 0 0;
      }
    }
  }
}


/*Section 5*/
.section-5 {
  background: url("./assets/images/background/sec5_bg.jpg") top center no-repeat;
  padding-top: 100px;
  padding-bottom: 80px;
  @media (max-width: @screen-sp) {
    padding: 80px 0 40px;
    .cover();
  }
  .box-wrap {
    .item {
      border: 4px solid #fff;
      .border-radius(4px);
      background: #fff;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
      margin-bottom: 60px;
      &:last-child {
        margin-bottom: 0;
      }
      .inner {
        border: 1px solid #fb4c0a;
        .border-radius(4px);
        .box-shadow(inset 0 0 0 1px #907c66);
        padding: 1px 1px 1px 50px;
        position: relative;
        @media (max-width: @screen-sp) {
          padding: 40px 10px 10px;
        }
      }
      .point-img {
        position: absolute;
        top: -45px;
        left: 20px;
      }
      .txt {
        @media (min-width: @screen-pc) {
          float: left;
          width: 455px;
          padding-top: 70px;
          padding-bottom: 30px;
        }
        h3 {
          font-size: 30/18em;
          color: @brand-primary;
          padding-top: 15px;
          padding-bottom: 15px;
          border-top: 1px solid @brand-primary;
          border-bottom: 1px solid @brand-primary;
          margin-bottom: 25px;
          position: relative;
          &:before,&:after {
            content: '';
            height: 2px;
            width: 100%;
            background: @brand-primary;
            position: absolute;
            left: 0;
          }
          &:before {
            top: -5px;
          }
          &:after {
            bottom: -5px;
          }
          @media (max-width: @screen-sp) {
            font-size: 24/18em;
            padding: 10px;
            padding-bottom: 10px;
          }
        }
      }
      .img {
        @media (min-width: @screen-pc) {
          float: right;
          width: 508px;
          img {
            max-width: inherit;
            float: right;
          }
        }
        @media (max-width: @screen-sp) {
          text-align: center;
          margin-bottom: 20px;
        }
      }
    }
  }
}

/*Section 6*/
.pricing-wrap {
  padding: 80px 0 70px;
  @media (max-width: @screen-sp) {
    padding: 40px 0;
  }
  h2 {
    font-size: 40/18em; 
    text-align: center;
    margin-bottom: 15px;
    b {
      font-size: 74/40em;
      color: @brand-primary;
    }
    @media (max-width: @screen-sp) {
      font-size: 30/18em;
      b {
        font-size: 1.2em;
      }
    }
  }
  .box-wrap {
    border: 2px solid #e2383d;
    h3.title {
      background: #e2383d;
      text-align: center;
      padding: 15px 10px;
      color: #fff;
    }
    .top {
      padding-bottom: 85px;
      background: url("./assets/images/background/sec6_bg.jpg") bottom center no-repeat;
      @media (max-width: @screen-sp) {
        padding-bottom: 40px;
      }
      .img {
        @media (min-width: @screen-pc) {
          float: left;
          margin-right: 15px;
        }
      }
      .txt {
        padding-top: 70px;
        @media (max-width: @screen-sp) {
          padding: 0 10px 10px;
          text-align: center;
          h4 {
            font-size: 24/18em;
            br {
              display: none;
            }
          }
          img {
            height: 40px;
          }
        }
      }
      h4 {
        font-size: 36/18em;
        margin-bottom: 10px;
        small {
          font-size: 0.5em;
        }
      }
    }
    .mid {
      padding: 50px 140px;
      @media (max-width: @screen-sp) {
        padding: 15px 10px;
      }
    }
    .sub-title {
      font-size: 32/18em;
      text-align: center;
      margin-bottom: 30px;
      color: #e2383d;
      b {
       font-size: 50/32em; 
      }
      small {
        font-size: 15/32em;
      }
      @media (max-width: @screen-sp) {
        font-size: 24/18em;
      }
    }
    .price-1 {
      position: relative;
      padding: 30px 10px;
      text-align: center;
      background: @background-base;
      border: 1px dotted #dcba8c;
      .border-radius(3px);
      span {
        position: absolute;
        left: -35px;
        top: -35px;
        @media (max-width: @screen-sp) {
          left: -15px;
          img {
            height: 70px;
          }
        }
      }
    }
    .price-btn {
      margin-top: 15px;
      .left {
        padding: 15px 10px;
        text-align: center;
        background: @background-base;
        border: 1px dotted #dcba8c;
        .border-radius(3px);
        @media (min-width: @screen-pc) {
          float: left;
          width: 475px;
          line-height: 87px;
        }
      }
      a {
        float: right;
        img {
          .border-radius(3px);
          .box-shadow(0 0 3px rgba(0,0,0,0.4));
        }
        @media (max-width: @screen-sp) {
          float: none;
          text-align: center;
          margin-top: 15px;
          display: block;
        }
      }
    }
    .total {
      .border-radius(5px);
      text-align: center;
      background: @background-base;
      border: 1px dotted #e2383d;
      margin-top: 50px;
      position: relative;
      padding: 35px 10px;
      h3 {
        position: absolute;
        top: 0;
        left: 50%;
        display: inline-block;
        padding: 8px 25px;
        background: #e2383d;
        color: #fff;
        font-size: 20/18em;
        .translate(-50%,-50%);
        .border-radius(30px);
        @media (max-width: @screen-sp) {
          font-size: 1em;
          padding: 5px 15px;
          min-width: 80%;
        }
      }
    }
  }
  hr {
    border: 1.5px solid #ccc;
    margin: 25px 0;
  }
  .fax {
    margin-top: 20px;
    padding: 20px 140px;
    border: 2px solid #539a59;
    background: #f7fff8;
    .txt {
      @media (min-width: @screen-pc) {
        float: left;
      }
      h3 {
        font-size: 32/18em;
        margin-bottom: 0.3em;
        @media (max-width: @screen-sp) {
          font-size: 24/18em;
        }
      }
      h4 {
        font-size: 24/18em;
        color: #e2383d;
        @media (max-width: @screen-sp) {
          font-size: 20/18em;
        }
      }
    }
    a {
      float: right;
      img {
        .border-radius(3px);
        .box-shadow(0 0 3px rgba(0,0,0,0.4));
      }
      @media (max-width: @screen-sp) {
        float: none;
        text-align: center;
        margin-top: 15px;
        display: block;
      }
    }
    @media (max-width: @screen-sp) {
      padding: 15px 10px;
    }
  }
}
.instruction-wrap {
  margin-top: 30px;
}
/*Section 7*/
.section-7 {
  padding: 70px 0;
  background: url("./assets/images/background/pattern_02.jpg") 0 0 repeat;
  @media (max-width: @screen-sp) {
    padding: 40px 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  .box-wrap {
    padding: 50px;
    border: 8px solid transparent;
    -webkit-border-image: url("./assets/images/background/border_image.png") 10% round;
    -o-border-image: url("./assets/images/background/border_image.png") 10% round;
    border-image: url("./assets/images/background/border_image.png") 10% round;
    border-image-repeat: repeat;
    background: url("./assets/images/background/pattern_03.png") 0 0 repeat;
    .top {
      text-align: center;
      margin-bottom: 30px;
    }
    @media (max-width: @screen-sp) {
      padding: 10px;
      border-width: 4px;
    }
  }
  .item {
    padding: 30px 50px;
    margin-bottom: 15px;
    border: 1px solid #d3cdc8;
    .border-radius(5px);
    background: url("./assets/images/background/pattern_04.png") 0 0 repeat;
     @media (max-width: @screen-sp) {
      padding: 10px;
    }
    .img {
      @media (min-width: @screen-pc) {
        float: left;
      }
      @media (max-width: @screen-sp) {
        text-align: center;
        margin-bottom: 10px;
      }
    }
    .txt {
      @media (min-width: @screen-pc) {
        margin-left: 330px;
      }
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}



/*Section 9*/
.section-9 {
  background: #fffcf6;
  padding: 60px 0;
  h3 {
    text-align: center;
  }
  h2 {
    font-size: 48/18em;
    margin: 10px 0 20px;
    text-align: center;
    color: #e2383d;
  }
  .top {
    margin-bottom: 20px;
  }
  .list {
    @media (min-width: @screen-pc) {
      .flex();
      padding-bottom: 20px;
    }
  }
  .item {
    padding: 30px;
    background: #fff;
    border: 1px dotted #dcba8c;
    margin-bottom: 20px;
    @media (min-width: @screen-pc) {
      width: 49%;
      float: left;
      margin-left: 2%;
      &:nth-child(2n+1) {
        clear: both;
        margin-left: 0;
      }
    }
    @media (max-width: @screen-sp) {
      padding: 10px;
    }
    
    .img {
      float: left;
      margin-right: 20px;
      @media (max-width: @screen-sp) {
        margin: 0;
        max-width: 120px;
      }
    }
    h4 {
      font-size: 20/18em;
      margin-bottom: 10px;
      @media (max-width: @screen-sp) {
        font-size: 1em;
      }
    }
    .title {
      @media (max-width: @screen-sp) {
        margin-left: 130px;
      }
      p {
        @media (max-width: @screen-sp) {
          font-size: 0.85em;
        }
      }
    }
    .txt {
      margin-top: 30px;
    }
  }
 .bottom {
  background: url("./assets/images/background/sec9_bottom_bg.jpg") top center repeat;
  border: 1px solid #e8e0db;
  .border-radius(5px);
  padding: 50px 45px 40px;
  @media (max-width: @screen-sp) {
    padding: 15px;
  }
  .img {
    @media (min-width: @screen-pc) {
      float: right;
      margin-left: 30px;
    } 
  }
  h3 {
    margin: 20px 0;
  }
 }
}

/*Section 11*/
.section-11 {
  background: url("./assets/images/background/pattern_05.jpg") 0 0 repeat;
  padding: 70px 0;
  @media (max-width: @screen-sp) {
    padding: 40px 0;
  }
  h2 {
    font-size: 48/18em;
    color: #e2383d;
    text-align: center;
    margin-bottom: 25px;
    &:before {
      content: '';
      width: 81px;
      height: 84px;
      background: url("./assets/images/icon/sec11_title_icon.png") 0 0 no-repeat;
      display: inline-block;
      margin-right: 5px;
      margin-top: -15px;
      vertical-align: middle;
    }
    @media (max-width: @screen-sp) {
      font-size: 30/18em;
      &:before {
        width: 60px;
        height: 60px;
        background-size: auto 100%;
        -moz-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        -ms-background-size: auto 100%;
        -o-background-size: auto 100%;
      }
    }
  }
}
.faq-wrap {
  border: 2px solid @border-color-base;
  dl {
    border-top: 2px solid @border-color-base;
    background: #fff;
    &:first-child {
      border: 0;
    }
    dt {
      font-size: 24/18em;
      padding: 15px 80px;
      font-weight: bold;
      background: url("./assets/images/icon/icon_q.png") 30px center no-repeat;
      position: relative;
      &:after {
        content: '';
        width: 22px;
        height: 22px;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -11px;
        background: url("./assets/images/icon/icon_plus.png") 0 0 no-repeat;
      }
      &.open {
        &:after {
          background-image: url("./assets/images/icon/icon_minus.png");
        }
      }
      @media (max-width: @screen-sp) {
        padding: 15px 40px;
        background-position: 10px center;
        font-size: 20/18em;
        &:after {
          right: 10px;
        }
      }
    }
    dd {
      display: none;
      border-top: 2px solid @border-color-base;
      padding: 15px 15px 15px 80px;
      background: #fff9f9 url("./assets/images/icon/icon_a.png") 30px center no-repeat;
      @media (max-width: @screen-sp) {
        padding-left: 40px;
        background-position: 10px center;
      }
    }
  }
}


/*Section 11*/
.section-12 {
  background: #fffcf6;
  padding: 70px 0;
  @media (max-width: @screen-sp) {
    padding: 40px 0;
  }
  h2 {
    font-size: 48/18em;
    color: #e2383d;
    text-align: center;
    margin-bottom: 1em;
    &:before {
      content: '';
      width: 81px;
      height: 84px;
      background: url("./assets/images/icon/sec11_title_icon.png") 0 0 no-repeat;
      display: inline-block;
      margin-right: 5px;
      margin-top: -15px;
      vertical-align: middle;
    }
    @media (max-width: @screen-sp) {
      font-size: 30/18em;
      &:before {
        width: 60px;
        height: 60px;
        background-size: auto 100%;
        -moz-background-size: auto 100%;
        -webkit-background-size: auto 100%;
        -ms-background-size: auto 100%;
        -o-background-size: auto 100%;
      }
    }
  }
  .box-wrap {
    border: 1px dotted #dcba8c;
    padding: 40px;
    background: #fff;
    @media (max-width: @screen-sp) {
      padding: 10px;
    }
    .txt {
      @media (min-width: @screen-pc) {
        width: 50%;
        float: left;
      }
      ul {
        li {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid @border-color-base;
          p {
            font-size: 15/18em;
          }
          &:last-child {
            margin-bottom: 0;
            border-bottom: 0;
          }
          @media (max-width: @screen-sp) {
            margin-bottom: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
    .img {
      @media (min-width: @screen-pc) {
        width: 43%;
        float: right;
      }
      @media (max-width: @screen-sp) {
        text-align: center;
      }
      img {
        margin-bottom: 25px;
      }
      a {
        display: block;
        padding: 15px 10px;
        background: #343434;
        color: #fff;
        text-align: center;
        &:before {
          content: '';
          width: 23px;
          height: 23px;
          background: url("./assets/images/icon/icon_download.png") 0 0 no-repeat;
          display: inline-block;
          margin-right: 8px;
          margin-top: -5px;
          vertical-align: middle;
        }
        &:hover {
          background: @brand-primary;
        }
      }
    }
    .note {
      clear: both;
      padding: 30px;
      background: #fff5f5;
      border: 1px dotted #e2383d;
      @media (max-width: @screen-sp) {
        padding: 10px;
        margin: 20px 0 0;
      }
      h3 {
        margin-bottom: 10px;
      }
      p {
        font-size: 13/18em;
      }
    }
  }
}



footer {
  border-top: 1px solid @border-color-base;
  .footer-contact {
    padding: 65px 0;
    overflow: hidden;
    @media (min-width: @screen-pc) {
      width: 520px;
      margin: 0 auto;
    }
    @media (max-width: @screen-sp) {
      padding: 30px 0;
    }
    a {
      float: left;
      margin-right: 20px;
      @media (max-width: @screen-sp) {
        margin-right: 0;
        width: 150px;
      }
    }
    .txt {
      @media (max-width: @screen-sp) {
        margin-left: 160px;
      }
    }
    h4 {
      font-size: 15/18em;
      margin-bottom: 5px;
    }
    p {
      font-size: 12/18em;
    }
  }
  .copyright {
    text-align: center;
    background: #f7f7f7;
    color: #6b6b6b;
    font-size: 10/18em;
    padding: 15px 10px;
    text-transform: uppercase;
    @media (max-width: @screen-sp) {
      padding-bottom: 80px;
    }
  }
}
.footer-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

/*Responsive*/
@media (min-width: @screen-pc) {
  .pc-none {
    display: none!important;
  }
}
@media (max-width: @screen-sp) {
  .sp-none {
    display: none!important;
  }
  /* Menu */
  #sp_slide{
    display: block;
  }
  #sp_slide .pos {
      position: fixed;
      bottom: 150px;
      width: 100%;
      padding: 0 15px;
      z-index: 1;
  }
  #sp_slide .button {
    position: absolute;
    display: block;
    background-color: @brand-primary;
    border: 2px solid rgb(255, 255, 255);
    opacity: 0.9;
    color: #fff;
    padding: 10px 20px 5px;
    text-align: center;
    border-radius: 40px 40px 0 0;
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    font-size: 70%;
    z-index: 9999 !important;
    line-height: 1.5;
  }
  #sp_slide .menu-button-left {
    left: -20px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #sp_slide .menu-button-right {
    right: -20px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  /*slidemenu*/
  #sp_slide .slidemenu {
      background-color: #252525;
  }
  #sp_slide .slidemenu #menu-primary li {
      list-style: none;
      border-top: 1px solid #4D4D4D;
      border-bottom: 1px solid #000;
      font-size: 14px;
      line-height: 1.8;
  }
  #sp_slide .slidemenu #menu-primary li a {
      padding:10px 0 10px 20px;
      display: block;
      text-decoration: none;
      color: #fff;
  }
  #sp_slide .slidemenu #menu-primary li a br {
    display: none;
  }
  #sp_slide .slidemenu #menu-primary li:first-child {
      border-top: none;
  }
  #sp_slide .slidemenu #menu-primary li:last-child {
      border-bottom: none;
  }
  #sp_slide .slidemenu .slidemenu-header {
      height: 49px;
      background-color: #ccc;
      bottom: 100px;
  }
  #sp_slide .slidemenu .slidemenu-header div {
      padding: 17px 0px 0px 19px;
      text-decoration: none;
      color: #fff;
  }
  /*plugin*/
  #sp_slide .slidemenu {
    top: 0;
    width: 240px;
    position: fixed;
    visibility: hidden;
    z-index: -1;
  }
  #sp_slide .slidemenu .slidemenu-header {
    position: relative;
  }
  #sp_slide .slidemenu .slidemenu-body {
    height: 100%;
    overflow: hidden;
    position: relative;
      color: #fff;
  }
  #sp_slide .slidemenu .slidemenu-body .slidemenu-content {
    position: relative;
    // padding-top: 60px;
  }
  #sp_slide .slidemenu {
      top: 0;
      width: 240px;
      position: fixed;
      visibility: hidden;
      z-index: -1;
  }
  #sp_slide .slidemenu-left {
      left: 0;
  }
  #sp_slide .slidemenu-right {
      right: 0;
  }
  #sp_slide .slidemenu-right {
    padding-left: 10px;
    padding-right: 10px;
  }
  #sp_slide .main-title {
    color: #fff;
  }

  /*anime*/
  #sp_slide .menu-button-left:active {
      -moz-transform: scale(1.2) rotate(90deg);
      -webkit-transform: scale(1.2) rotate(90deg);
      -o-transform: scale(1.2) rotate(90deg);
      -ms-transform: scale(1.2) rotate(90deg);
      transform: scale(1.2) rotate(90deg);
  }
  #sp_slide .menu-button-right:active {
      -moz-transform: scale(1.2) rotate(-90deg);
      -webkit-transform: scale(1.2) rotate(-90deg);
      -o-transform: scale(1.2) rotate(-90deg);
      -ms-transform: scale(1.2) rotate(-90deg);
      transform: scale(1.2) rotate(-90deg);
  }
}