@charset "UTF-8";
html {
  min-height: 100%;
  position: relative;
}
body {
  padding-bottom: 46px!important;
}
body:not(.home) {
  background: url(../../assets/images/background/body_pattern.png) repeat 0 0;
}
body .footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.job-search-container {
  padding: 10px 0 20px;
}
.job-search-header {
  padding: 50px 90px;
  background: #fff;
  border: 1px solid #eee2c1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 640px) {
  .job-search-header {
    padding: 15px 10px 5px;
  }
}
.job-search-header .job-search-title {
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 640px) {
  .job-search-header .job-search-title {
    margin-bottom: 30px;
  }
}
.job-search-header .job-search-title h2 {
  font-size: 1.6em;
}
.job-search-header .job-search-title p {
  color: #d34141;
  font-size: 0.8em;
  letter-spacing: 2px;
}
.job-search-header ul {
  display: inline-block;
  width: 100%;
}
.job-search-header ul li {
  float: left;
}
@media (min-width: 641px) {
  .job-search-header ul li {
    width: 26%;
    margin-right: 1%;
  }
  .job-search-header ul li:nth-child(4) {
    margin-right: 0;
    width: 19%;
  }
}
@media (max-width: 640px) {
  .job-search-header ul li {
    width: 49%;
    margin-left: 2%;
    margin-bottom: 10px;
  }
  .job-search-header ul li:nth-child(2n+1) {
    margin-left: 0;
  }
}
.job-search-header ul li ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9e9e9e;
}
.job-search-header ul li ::-moz-placeholder {
  color: #9e9e9e;
}
.job-search-header ul li :-ms-input-placeholder {
  color: #9e9e9e;
}
.job-search-header ul li :-moz-placeholder {
  color: #9e9e9e;
}
.job-search-header ul li .select2-container {
  width: 100%!important;
}
.job-search-header ul li .select2-selection--single {
  width: 100%;
  outline: 0;
  background-color: #f7f7f7;
  border: 1px solid #d2d2d2;
  padding: 13px 30px 13px 35px;
  font-size: 1em;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #9e9e9e;
  display: block;
  position: relative;
}
@media (min-width: 641px) {
  .job-search-header ul li .select2-selection--single {
    letter-spacing: 1px;
  }
}
.job-search-header ul li .select2-selection__arrow {
  background: url('../../assets/images/icon/arrow_02.png') center center no-repeat;
  width: 30px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.job-search-header ul li input {
  width: 100%;
  outline: 0;
  background-color: #f7f7f7;
  border: 1px solid #d2d2d2;
  padding: 15px 10px 15px 35px;
  font-size: 1em;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #9e9e9e;
  height: 50px;
}
@media (min-width: 641px) {
  .job-search-header ul li input {
    letter-spacing: 1px;
  }
}
.job-search-header ul li:nth-child(1) input {
  background-image: url(../../assets/images/icon/icon_search.png);
}
.job-search-header ul li:nth-child(2) .select2-selection--single {
  background-image: url(../../assets/images/icon/icon_list.png);
}
.job-search-header ul li:nth-child(3) .select2-selection--single {
  background-image: url(../../assets/images/icon/icon_location.png);
}
.job-search-header ul li .search {
  display: block;
  position: relative;
  cursor: pointer;
  text-align: left;
  width: 100%;
  outline: 0;
  border: 0;
  font-size: 1em;
  padding: 0px 35px;
  line-height: 50px;
  height: 50px;
  color: #fff;
  background: #ca0000;
  background: -webkit-linear-gradient(left, #ca0000, #fb9a00);
  background: -o-linear-gradient(right, #ca0000, #fb9a00);
  background: -moz-linear-gradient(right, #ca0000, #fb9a00);
  background: -webkit-gradient(linear, left top, right top, from(#ca0000), to(#fb9a00));
  background: -o-linear-gradient(left, #ca0000, #fb9a00);
  background: linear-gradient(to right, #ca0000, #fb9a00);
}
@media (min-width: 641px) {
  .job-search-header ul li .search {
    letter-spacing: 2px;
  }
}
.job-search-header ul li .search:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.job-search-header ul li .search i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  right: 15px;
  font-size: 1.2em;
}
/* Breadcrumb */
#breadcrumb .breadcrumbs {
  font-size: 0.8em;
  padding-bottom: 30px;
  padding-top: 30px;
}
#breadcrumb ul li {
  display: inline-block;
}
#breadcrumb ul li a,
#breadcrumb ul li span {
  display: inline-block;
}
#breadcrumb ul li a:hover {
  text-decoration: underline;
  color: #d34141;
}
#breadcrumb ul li + li:before {
  content: '＞';
  display: inline-block;
  margin: 0 5px;
}
.jaficofw-pagination {
  float: right;
}
@media (max-width: 640px) {
  .jaficofw-pagination {
    float: none;
    text-align: center;
  }
}
.jaficofw-pagination a,
.jaficofw-pagination span {
  display: inline-block;
  background: #fff;
  padding: 6px 4px;
  min-width: 36px;
  text-align: center;
  border: 1px solid #e2c2c2;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  float: left;
  margin-left: 15px;
  color: #d34141;
}
.jaficofw-pagination a:hover,
.jaficofw-pagination span:hover {
  color: #fff;
  background: #d34141;
  border-color: #d34141;
}
@media (max-width: 640px) {
  .jaficofw-pagination a,
  .jaficofw-pagination span {
    float: none;
    margin: 5px;
  }
}
.jaficofw-pagination span {
  color: #fff;
  background: #d34141;
  border-color: #d34141;
}
.job-search-content .result-bar {
  padding: 40px 0;
}
@media (max-width: 640px) {
  .job-search-content .result-bar {
    padding: 25px 0;
  }
}
.job-search-content .result-bar .total-jobs {
  font-size: 1.06666667em;
  font-weight: bold;
  padding: 5px 0;
  float: left;
}
.job-search-content .result-bar .total-jobs span {
  color: #d34141;
  font-size: 1.625em;
  line-height: 0.8;
}
@media (max-width: 640px) {
  .job-search-content .result-bar .total-jobs {
    float: none;
    text-align: center;
    padding-bottom: 10px;
  }
}
.job-search-content .job-detail {
  margin-bottom: 15px;
  border: 1px solid #eee2c1;
  background: #fff;
  padding: 25px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media (max-width: 640px) {
  .job-search-content .job-detail {
    padding: 10px;
  }
}
.job-search-content .job-detail:hover {
  border-color: #d34141;
  box-shadow: inset 0 0 0 2px #d34141;
  -moz-box-shadow: inset 0 0 0 2px #d34141;
  -webkit-box-shadow: inset 0 0 0 2px #d34141;
  -ms-box-shadow: inset 0 0 0 2px #d34141;
  -o-box-shadow: inset 0 0 0 2px #d34141;
}
.job-search-content .job-detail .job-detail-header {
  overflow: hidden;
  margin-bottom: 30px;
}
.job-search-content .job-detail .job-detail-header .status {
  float: left;
  font-size: 0.8em;
  padding: 4px 10px;
  background: #d34141;
  color: #fff;
}
.job-search-content .job-detail .job-detail-header h2 {
  font-size: 1.33333333em;
  padding: 0 10px;
  line-height: 1.3;
  float: left;
}
@media (max-width: 640px) {
  .job-search-content .job-detail .job-detail-header .status ~ h2 {
    margin-left: 60px;
    float: none;
  }
}
.job-search-content .job-detail .job-detail-header .job-number {
  float: right;
  font-size: 0.8em;
  padding: 4px 10px;
}
@media (max-width: 640px) {
  .job-search-content .job-detail .job-detail-header .job-number {
    float: none;
    clear: both;
    padding: 10px 0 0;
  }
}
.job-search-content .job-detail .job-detail-body {
  padding: 10px;
  background: #fafafa;
}
@media (max-width: 640px) {
  .job-search-content .job-detail .job-detail-body {
    padding: 10px 5px;
  }
}
.job-search-content .job-detail .job-detail-body .job-info {
  overflow: hidden;
}
@media (min-width: 641px) {
  .job-search-content .job-detail .job-detail-body .job-info {
    float: left;
    width: 50%;
  }
}
.job-search-content .job-detail .job-detail-body .job-info span {
  float: left;
  padding: 0 5px;
}
@media (min-width: 641px) {
  .job-search-content .job-detail .job-detail-body .job-info span {
    width: 50%;
  }
}
@media (max-width: 640px) {
  .job-search-content .job-detail .job-detail-body .job-info span:nth-child(1) {
    width: 25%;
  }
  .job-search-content .job-detail .job-detail-body .job-info span:nth-child(2) {
    width: 75%;
  }
}
.job-search-content .job-detail .job-detail-body .job-place,
.job-search-content .job-detail .job-detail-body .job-salary {
  line-height: 2;
  font-size: 0.86666667em;
}
@media (max-width: 640px) {
  .job-search-content .job-detail .job-detail-body .job-place,
  .job-search-content .job-detail .job-detail-body .job-salary {
    width: 100%;
    display: inline-block;
  }
}
@media (min-width: 641px) {
  .job-search-content .job-detail .job-detail-body .btn-detail {
    width: 50%;
    float: right;
    text-align: right;
  }
}
@media (max-width: 640px) {
  .job-search-content .job-detail .job-detail-body .btn-detail {
    padding-top: 10px;
    text-align: center;
    padding: 5px 35px;
  }
}
.job-search-content .job-detail .job-detail-body .btn-detail a {
  display: inline-block;
  padding: 15px 50px;
  background: #f27000;
  color: #fff;
  position: relative;
}
@media (min-width: 641px) {
  .job-search-content .job-detail .job-detail-body .btn-detail a {
    letter-spacing: 2px;
  }
  .job-search-content .job-detail .job-detail-body .btn-detail a:hover {
    background: #d34141;
  }
}
.job-search-content .job-detail .job-detail-body .btn-detail a i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  right: 15px;
  font-size: 1.2em;
}
.single-job-wrap {
  padding-bottom: 100px;
}
@media (max-width: 640px) {
  .single-job-wrap {
    padding-bottom: 20px;
  }
}
.single-job-wrap .single-job-btn {
  padding: 25px 70px;
  background: #ca0000;
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(left, #ca0000, #fb9a00);
  background: -o-linear-gradient(right, #ca0000, #fb9a00);
  background: -moz-linear-gradient(right, #ca0000, #fb9a00);
  background: -webkit-gradient(linear, left top, right top, from(#ca0000), to(#fb9a00));
  background: -o-linear-gradient(left, #ca0000, #fb9a00);
  background: linear-gradient(to right, #ca0000, #fb9a00);
}
.single-job-wrap .single-job-btn:hover {
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.single-job-wrap .single-job-btn i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  right: 15px;
  font-size: 1.2em;
}
@media (max-width: 640px) {
  .single-job-wrap .single-job-btn {
    padding: 10px 35px;
    font-size: 1em;
  }
}
.single-job-wrap .job-detail-btn,
.single-job-wrap .job-detail-header {
  padding: 25px 30px;
  background: #fff;
  border: 1px solid #eee2c1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  .single-job-wrap .job-detail-btn,
  .single-job-wrap .job-detail-header {
    padding: 15px;
  }
}
.single-job-wrap .job-detail-body {
  padding: 25px 30px;
  background: #fff;
  border: 1px solid #eee2c1;
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  .single-job-wrap .job-detail-body {
    padding: 15px;
  }
}
.single-job-wrap .job-detail-body h2 {
  font-size: 1.33333333em;
  border-left: 4px solid #f06700;
  padding-left: 10px;
  line-height: 1.2;
  margin-bottom: 1.2em;
}
.single-job-wrap .job-detail-body .txt-border {
  padding: 20px;
  border: 1px solid #d2d2d2;
  margin-bottom: 35px;
}
@media (max-width: 640px) {
  .single-job-wrap .job-detail-body .txt-border {
    padding: 10px;
    margin-bottom: 25px;
  }
}
.single-job-wrap .job-detail-body .job-message .avatar {
  float: left;
  max-width: 120px;
}
@media (max-width: 640px) {
  .single-job-wrap .job-detail-body .job-message .avatar {
    max-width: 100px;
  }
}
.single-job-wrap .job-detail-body .job-message .avatar ~ p {
  margin-left: 140px;
}
@media (max-width: 640px) {
  .single-job-wrap .job-detail-body .job-message .avatar ~ p {
    margin-left: 110px;
  }
}
.single-job-wrap .job-detail-header .job-number {
  font-size: 0.73333333em;
  margin-bottom: 15px;
}
@media (min-width: 641px) {
  .single-job-wrap .job-detail-header .table-info {
    display: table;
    width: 100%;
  }
}
@media (min-width: 641px) {
  .single-job-wrap .job-detail-header .table-info .info {
    width: 660px;
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
  }
}
.single-job-wrap .job-detail-header .table-info .btn {
  padding: 30px;
  text-align: center;
  background: #f4f4f4;
}
@media (min-width: 641px) {
  .single-job-wrap .job-detail-header .table-info .btn {
    width: 302px;
    display: table-cell;
    vertical-align: middle;
  }
}
@media (max-width: 640px) {
  .single-job-wrap .job-detail-header .table-info .btn {
    padding: 20px;
    margin-top: 20px;
  }
}
.single-job-wrap .job-detail-header .table-info table {
  font-size: 0.86666667em;
  font-weight: bold;
  width: 100%;
}
.single-job-wrap .job-detail-header .table-info table tr td {
  border: 1px solid #d2d2d2;
  padding: 7px 10px;
}
.single-job-wrap .job-detail-header .table-info table tr td:first-child {
  width: 30%;
  background: #fafafa;
}
.single-job-wrap .job-detail-btn {
  text-align: center;
}
.footer_m {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 -1px 4px #b7b7b7;
  -moz-box-shadow: 0 -1px 4px #b7b7b7;
  -webkit-box-shadow: 0 -1px 4px #b7b7b7;
  -ms-box-shadow: 0 -1px 4px #b7b7b7;
  -o-box-shadow: 0 -1px 4px #b7b7b7;
}
.footer_m a {
  display: block;
  float: left;
  width: 50%;
}

/*# sourceMappingURL=jafico.css.map */